@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Limelight&display=swap');

body {
    background-color: #C3F8CE;
    font-family: Josefin, sans-serif;
    color: #191515;
}

h1 {
    font-family: Limelight, sans-serif;
}

/* header bar */

#banner {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background: rgba(195, 248, 206, 1) !important;
    border-bottom: 2px solid #6C57B7;
}

#menu {
    float: right;
    padding-top: 20px;
}

/* title */

#title {
    float: left;
    margin-left: 300px;
}

#title a {
    text-decoration: none;
    color: inherit;
}

/* navigation links */

#menu {
    margin-right: 100px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 5px;
}

#menu a:hover {
    color: #6C57B7;
}

.active {
    border-bottom: 4px solid #6C57B7;
}

/* hero image */

#hero-image {
    float: left;
    padding-left: 100px;
    margin-top: 100px;
}

#h-image {
    border-radius: 90px;
}

/* instructions */

#instructions {
    float: right;
    width: 700px;
    margin-right: 100px;
    padding-left: 10px;
    margin-top: 100px;
    border: 2px solid;
}
/*
#instructions h3 {
    text-align: center;
}
*/
#instructions i {
    color: #6C57B7;
}

/* Play now button */

#playbtn {
    text-align: center;
    clear: both;
    padding-top: 50px;
    height: 50px;
}

#playnow {
    text-decoration: none;
    color: inherit;
    border: 1px solid #6c57b7;
    font-size: large;
    padding: 20px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
}

#playnow:hover {
    background-color: #6C57B7;
    color: white;
}

/* fun facts */

#fun-facts {
    clear: both;
    text-align: center;
    padding-top: 20px;
}

#fun-facts i {
    color: #6C57B7;
}

#fun-fact1 {
    float: right;
    width: 400px;
    padding-right: 200px;
}

#fun-fact2 {
    float: left;
    width: 400px;
    padding-left: 200px;
}

/* footer */

footer{
    height: 50px;
    padding-top: 20px;
    clear: both;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 160%;
    margin: 1%;
    color: #6C57B7;
}

/* Contact us page */

#contact-message{
    margin-top: 120px;
    text-align: center;
}

#contact {
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
    border: 2px solid #6C57B7;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid;
    border-radius: 2px;
}

.text-input:hover{
    border-color: #6C57B7;
}
.comment {
    background: transparent;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px 0;
    border: 1px solid;
    border-radius: 2px;
    font-family: inherit;
}

.comment:hover {
    border-color: #6C57B7;
}
#submit-button {
    margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: medium;
    background-color: #6C57B7;
    display: block;
}