@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Limelight&display=swap');

body {
    background-color: #C3F8CE;
    font-family: Josefin, sans-serif;
    color: #191515;
}

h1 {
    font-family: Limelight, sans-serif;
}

/* header bar */

#banner {
    margin-left: 20%;
    margin-right: 20%;
    height: 100px;
}

#menu {
    float: right;
    padding-top: 20px;
}

/* title */

#title {
    float: left;
}

#title a {
    text-decoration: none;
    color: inherit;
}

/* navigation links */

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 5px;
}

#menu a:hover {
    color: #6C57B7;
}

.active {
    border-bottom: 4px solid #6C57B7;
}

/* hero image */

#hero-image {
    float: left;
    padding-left: 100px;
}

#h-image {
    border-radius: 50px;
}

/* instructions */

#instructions {
    float: right;
    width: 700px;
    padding-right: 100px;
}

/* fun facts */

#fun-facts {
    clear: both;
    text-align: center;
    padding-top: 20px;
}

#fun-facts i {
    color: #6C57B7;
}

#fun-fact1 {
    float: right;
    width: 400px;
    padding-right: 200px;
}

#fun-fact2 {
    float: left;
    width: 400px;
    padding-left: 200px;
}

/* footer */

footer{
    height: 50px;
    padding-top: 20px;
    clear: both;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 160%;
    margin: 1%;
    color: #6C57B7;
}