@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Limelight&display=swap');

body {
    background-color: #C3F8CE;
    font-family: Josefin, sans-serif;
    color: #191515;
}

h1 {
    font-family: Limelight, sans-serif;
}